
.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.articles-card {
  padding-left: 10px;
  margin-top: 10px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.articles-card:hover {
  transform: scale(1.02);
}

.articles-individualCard{
  margin-top: 50px;
  margin-left: 50px;
  background-color: hsl(0, 0%, 98%);
  padding: 15px;
  container: 150px 250px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.articles-image {
  max-width: 100%;
  height: auto;
}

.articles-details {
  padding: 15px;
}

.articles-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color:black;
}

.articles-p {
  font-size: 0.9rem;
  color: grey;
}

.articles-link {
  color: black;
}

.articles-link:hover {
  text-decoration: underline;
}

.articles-input {
  width: 135px;
}

.articles-button{
  max-height: 20px;
  max-width: 60px;
  margin-top: 10px;
}

.articles-h2, .articles-label{
 margin-left: 15px;
 font-size: 1.5rem;
}

.articles-input {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  width: 200px;
}