.comments-h3 {
  font-size: 25px;
  color: black;
  padding-left:40px;
}


.comments-article {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    font-size: 22px;
  }
  
  .comments-comment {
    background-color: rgb(228, 236, 235);
    border: 1px solid white;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .comments-author {
    font-weight: bold;
    color: grey;
  }
  
  .comments-content {
    margin-top: 10px;
    color:black;
  }
  
  .comments-time {
    font-size:18px;
    color: black;
  }
  